body {
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
}

.White {
    color: white;
}

section {
    display: flex;
    background-color: rgba(128, 0, 128, 0.534);
}

.left {
    width: 70%;
    padding: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 8px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 7px;
}

.right {
    width: 30%;
    padding-top: 7%;
}